
<nav id="hearder" class="w-full h-14 flex bg-slate-400 ">
  <div id="BtnMenu" class="h-14 flex pl-3 w-2/12 items-center (answer1)  " (click)="categoryMenuClick()">
    <div id ="btnMenu" class=" w-9 h-9  (answer2)">
      <img src="../assets/image/menu.png">
    </div>
  </div>
  <div id ="logo" class="flex items-center justify-center (answer3)  lg:pl-4"> 
      <div id ="logo_icon" class=" w-9 h-9 ">
        <img src="../assets/image/logo.png">
    </div>
    <div id ="logo_title" class="text-left pl-2 py-1 block font-mono (answer4) ">
      Ashley clothes
    </div>
  </div>
  <div id="login" class="(answer6) flex items-center ">
    <div class ="w-7 h-7 py-1 block cursor-pointer" >  
      <img src="../assets/image/login.png" >
    </div>
    <div class="(answer6) text-base pl-2 py-1">
        Log In
    </div>
   
  </div>
</nav>
<div id ="context" class="block sm:block md:flex lg:flex " > 
  
 <div id="menu" class=" w-1/4 bg-green-500" > 
 </div>

 <div id ="products" class="w-screen h-screen  bg-red-500" >
 </div>

</div>

