
<nav id="hearder" class="w-full  flex bg-slate-400 ">
  <div id="BtnMenu" class="h-14 flex pl-3 w-2/12 items-center sm:w-2/12 md:hidden lg:hidden cursor-pointer " (click)="categoryMenuClick()">
    <div id ="btnMenu" class=" w-9 h-9 items-center justify-center 
                               md:hidden lg:hidden  ">
      <img src="../assets/image/menu.png">
    </div>
  </div>
  <div id ="logo" class="w-9/12 flex items-center justify-center 
                        sm:w-9/12 
                        md:w-10/12
                        lg:w-10/12 h-14 lg:justify-start lg:pl-4"> 
      <div id ="logo_icon" class=" w-9 h-9 ">
        <img src="../assets/image/logo.png">
    </div>
    <div id ="logo_title" class=" text-left pl-2 py-1 text-xl  block  font-mono
                                  sm:text-2xl
                                  md:text-3xl ">
      Ashley clothes
    </div>
  </div>
  <div id="login" class="w-3/12 sm:w-3/12 md:w-2/12 lg:w-2/12 flex items-center ">
    <div class ="w-7 h-7 py-1 block cursor-pointer" >  
      <img src="../assets/image/login.png" >
    </div>
    <div class=" hidden sm:hidden md:block lg:block text-base pl-2 py-1">
        Log In
    </div>
   
  </div>
 </nav>
 <div id ="context" class="block sm:block md:flex lg:flex " > 
  <div id="menu" class=" bg-slate-200 
                        (answer1)"  
                > <!-- (answer2)-->
    <ul>
      <li class="w-full  h-12 (answer3) (answer4) (answer5) "  
      *ngFor="let c of category">
        <div class="h-full w-full text-lg flex align-middle items-center text-center justify-center (open-answer) ">
          {{c}}
        </div>
      </li>
    </ul>
  </div>

 </div>
  
 
<router-outlet></router-outlet>

<!-- 
  answer1:
  h-auto bg-slate-200 
  md:w-3/12 md:h-screen md:block
  lg:block
  
  answer3:border-b-2 border-gray-400 border-solid

  answer4: font-mono 
  
  answer5: cursor-pointer hover:bg-slate-100

  answer2:  [class] = "isCategoryMenuShow"

  open answer: cursor-pointer hover:font-bold
 -->
